<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form action="#" th:action="@{/admin}" th:object="${user}" method="post">
    <div>
        <label for="name">Name</label>
        <input name="name" type="text" id="name"/>

        <br>

        <label for="lastName">Lastname</label>
        <input name="lastName" type="text" id="lastName"/>

        <br>

        <label for="age">Age</label>
        <input name="age" type="number" id="age"/>

        <br>

        <label for="email">Email</label>
        <input name="email" type="text" id="email"/>

        <br>

        <label for="password">Password</label>
        <input name="password" type="text" id="password"/>

        <br>

        <label for="roles">Roles:</label>

        <br>

        <select multiple name="roles" id="roles">
            <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
        </select>

        <br>

        <input type="submit" value="Create User"/>
        <p><a th:href="@{/logout}">Logout</a></p>

        <br>

    </div>
</form>
</body>
</html>